common:
	build: client: false

	exclude:
		default:
			server:
				files: true

	extra:
		copy:
			server: [
				'package.json'
				'package-lock.json'
			]

	minify:
		server:
			js:
				es6: true
			json:
				enable: false