common:
	build: client: false

	exclude:
		default:
			server:
				files: true

	extra:
		copy:
			server: [
				'package.json'
				'package-lock.json'
				'common/templates/**'
			]

	minify:
		server:
			js:
				es6: true
			json:
				enable: false

# RUN BEFORE PUBLISHING TO NPM!!
# rapid-build prod publish
# ==============================
publish:
	exclude:
		from:
			dist:
				server: [
					'ci/testing/**'
				]